@import "tailwindcss";
:root {
  --text-color: #101828;
  --text-color-secondary: #364153;
  --orange-text: #ff6900;
  --nav-links-text: #4a5565;
  --gray-bg: #f3f4f6;
  --dark-btn-bg: #1e2939;
  --contact-card-bg: rgba(255, 105, 0, 0.2);
  --contact-card-text: rgba(255, 105, 0, 0.2);
}

/* Target the currently selected nav bar link*/
.active {
  color: white;
  border-radius: 0.625rem;
  background-color: var(--orange-text);
}

/* Apply to a specific container */
.scrollbar-custom {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #ff6900 transparent; /* Firefox */
}

/* Chrome, Edge, Safari */
.scrollbar-custom::-webkit-scrollbar {
  width: 6px; /* thickness */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent; /* track color */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #ff6900; /* thumb color */
  border-radius: 3px; /* rounded thumb */
}
